# Market Basket Analysis

### Prepare csv file

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Persona.xlsx', sheet_name='Market Basket')

In [3]:
df.head()

   Transaction_ID  CardNo       Prod1       Prod2    Prod3   Prod4    Prod5
0               1      83       kurma     alpokat    kurma  pisang     sawo
1               2      31  naga merah  naga merah    jambu  Anggur  alpokat
2               3       1      pisang         pir  alpokat   jambu    jambu
3               4      51        sawo  naga merah    Jeruk    sawo   pisang
4               5      85     alpokat         pir  alpokat  mangga   Anggur

In [4]:
df.shape

(199, 7)

In [7]:
df.to_csv('persona_market_basket.csv', index=False)

### read data from csv

##### https://medium.com/@hafizhan.aliady/market-basket-analysis-acossiation-rule-menggunakan-python-1012f9e1611d
##### https://pbpython.com/market-basket-analysis.html

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [6]:
df = pd.read_csv('persona_market_basket.csv')

In [7]:
df.head()

   Transaction_ID  CardNo       Prod1       Prod2    Prod3   Prod4    Prod5
0               1      83       kurma     alpokat    kurma  pisang     sawo
1               2      31  naga merah  naga merah    jambu  Anggur  alpokat
2               3       1      pisang         pir  alpokat   jambu    jambu
3               4      51        sawo  naga merah    Jeruk    sawo   pisang
4               5      85     alpokat         pir  alpokat  mangga   Anggur

In [8]:
df.shape

(199, 7)

### remove transaction_id and CardNo column

In [14]:
df = df.drop(df.columns[[0, 1]], axis=1)

In [15]:
df.head()

        Prod1       Prod2    Prod3   Prod4    Prod5
0       kurma     alpokat    kurma  pisang     sawo
1  naga merah  naga merah    jambu  Anggur  alpokat
2      pisang         pir  alpokat   jambu    jambu
3        sawo  naga merah    Jeruk    sawo   pisang
4     alpokat         pir  alpokat  mangga   Anggur

### check are there any null value

In [16]:
print(df.isna().sum())

Prod1    0
Prod2    0
Prod3    0
Prod4    0
Prod5    0
dtype: int64

In [22]:
# convert pandas dataframe to list
records = []
for i in range(0, df.shape[0]):
    records.append([str(df.values[i,j]) for j in range(0, df.shape[1])])

In [27]:
records

[['kurma', 'alpokat', 'kurma', 'pisang', 'sawo'],
 ['naga merah', 'naga merah', 'jambu', 'Anggur', 'alpokat'],
 ['pisang', 'pir', 'alpokat', 'jambu', 'jambu'],
 ['sawo', 'naga merah', 'Jeruk', 'sawo', 'pisang'],
 ['alpokat', 'pir', 'alpokat', 'mangga', 'Anggur'],
 ['kurma', 'sawo', 'kurma', 'mangga', 'mangga'],
 ['mangga', 'kurma', 'Jeruk', 'alpokat', 'sawo'],
 ['Jeruk', 'Jeruk', 'sawo', 'Jeruk', 'naga merah'],
 ['Jeruk', 'Jeruk', 'mangga', 'naga merah', 'naga merah'],
 ['mangga', 'Anggur', 'jambu', 'alpokat', 'naga merah'],
 ['Jeruk', 'jambu', 'sawo', 'sawo', 'kurma'],
 ['pir', 'mangga', 'pir', 'Anggur', 'naga merah'],
 ['naga merah', 'jambu', 'Jeruk', 'jambu', 'Jeruk'],
 ['pir', 'naga merah', 'alpokat', 'Anggur', 'Anggur'],
 ['Anggur', 'naga merah', 'pir', 'pisang', 'pir'],
 ['pisang', 'alpokat', 'pisang', 'kurma', 'Jeruk'],
 ['mangga', 'Anggur', 'mangga', 'mangga', 'mangga'],
 ['pir', 'jambu', 'sawo', 'mangga', 'kurma'],
 ['naga merah', 'Jeruk', 'kurma', 'naga merah', 'sawo'],
 ['mangga', 'alpokat', 'Anggur', 'sawo', 'pisang'],
 ['jambu', 'kurma', 'Anggur', 'kurma', 'sawo'],
 ['sawo', 'sawo', 'pir', 'kurma', 'alpokat'],
 ['kurma', 'sawo', 'naga merah', 'sawo', 'kurma'],
 ['jambu', 'alpokat', 'pisang', 'pisang', 'mangga'],
 ['mangga', 'jambu', 'pir', 'kurma', 'pir'],
 ['Jeruk', 'Anggur', 'alpokat', 'naga merah', 'sawo'],
 ['alpokat', 'pisang', 'Anggur', 'Anggur', 'jambu'],
 ['mangga', 'pir', 'pir', 'sawo', 'naga merah'],
 ['kurma', 'jambu', 'pisang', 'jambu', 'pir'],
 ['alpokat', 'Anggur', 'naga merah', 'naga merah', 'pisang'],
 ['pisang', 'pisang', 'naga merah', 'sawo', 'jambu'],
 ['pisang', 'sawo', 'naga merah', 'Anggur', 'pir'],
 ['Jeruk', 'pisang', 'naga merah', 'naga merah', 'sawo'],
 ['naga merah', 'Anggur', 'sawo', 'pisang', 'alpokat'],
 ['naga merah', 'jambu', 'sawo', 'pisang', 'pisang'],
 ['pisang', 'naga merah', 'alpokat', 'Anggur', 'sawo'],
 ['mangga', 'pir', 'pir', 'pir', 'Anggur'],
 ['naga merah', 'Anggur', 'pir', 'pisang', 'jambu'],
 ['sawo', 'alpokat', 'pir', 'jambu', 'Anggur'],
 ['naga merah', 'mangga', 'alpokat', 'pisang', 'pisang'],
 ['jambu', 'mangga', 'kurma', 'sawo', 'kurma'],
 ['Anggur', 'jambu', 'sawo', 'Jeruk', 'pisang'],
 ['kurma', 'Jeruk', 'naga merah', 'Jeruk', 'jambu'],
 ['kurma', 'alpokat', 'sawo', 'jambu', 'alpokat'],
 ['sawo', 'Jeruk', 'naga merah', 'alpokat', 'jambu'],
 ['jambu', 'pir', 'alpokat', 'pir', 'Jeruk'],
 ['sawo', 'alpokat', 'sawo', 'Anggur', 'kurma'],
 ['sawo', 'naga merah', 'naga merah', 'naga merah', 'pir'],
 ['mangga', 'Jeruk', 'kurma', 'alpokat', 'pisang'],
 ['jambu', 'jambu', 'kurma', 'pir', 'pir'],
 ['mangga', 'Anggur', 'pisang', 'pisang', 'jambu'],
 ['Jeruk', 'alpokat', 'alpokat', 'Jeruk', 'pir'],
 ['sawo', 'alpokat', 'Jeruk', 'sawo', 'pir'],
 ['pir', 'mangga', 'alpokat', 'pir', 'sawo'],
 ['Anggur', 'Jeruk', 'kurma', 'Jeruk', 'jambu'],
 ['jambu', 'pir', 'pir', 'pisang', 'Anggur'],
 ['kurma', 'Anggur', 'sawo', 'pisang', 'mangga'],
 ['pir', 'Anggur', 'Jeruk', 'naga merah', 'alpokat'],
 ['alpokat', 'mangga', 'pisang', 'pisang', 'jambu'],
 ['Anggur', 'pir', 'kurma', 'sawo', 'Anggur'],
 ['mangga', 'sawo', 'Jeruk', 'sawo', 'mangga'],
 ['pir', 'sawo', 'mangga', 'Jeruk', 'mangga'],
 ['mangga', 'sawo', 'jambu', 'naga merah', 'pisang'],
 ['sawo', 'Jeruk', 'jambu', 'alpokat', 'pisang'],
 ['Anggur', 'Anggur', 'pisang', 'jambu', 'Jeruk'],
 ['naga merah', 'pisang', 'Anggur', 'sawo', 'mangga'],
 ['pisang', 'jambu', 'pisang', 'Anggur', 'alpokat'],
 ['kurma', 'pisang', 'Jeruk', 'pisang', 'Anggur'],
 ['alpokat', 'pir', 'pir', 'Anggur', 'pir'],
 ['Jeruk', 'jambu', 'sawo', 'alpokat', 'Jeruk'],
 ['sawo', 'kurma', 'pisang', 'Jeruk', 'Jeruk'],
 ['alpokat', 'jambu', 'Anggur', 'pisang', 'mangga'],
 ['mangga', 'kurma', 'mangga', 'mangga', 'Jeruk'],
 ['sawo', 'pir', 'Jeruk', 'kurma', 'kurma'],
 ['Anggur', 'pisang', 'kurma', 'mangga', 'sawo'],
 ['Jeruk', 'mangga', 'Jeruk', 'pir', 'pir'],
 ['Anggur', 'Anggur', 'sawo', 'Anggur', 'kurma'],
 ['naga merah', 'Anggur', 'Jeruk', 'sawo', 'jambu'],
 ['pisang', 'pisang', 'pisang', 'kurma', 'jambu'],
 ['mangga', 'Anggur', 'naga merah', 'pisang', 'naga merah'],
 ['jambu', 'naga merah', 'jambu', 'pisang', 'pisang'],
 ['naga merah', 'Jeruk', 'jambu', 'Anggur', 'alpokat'],
 ['pisang', 'mangga', 'Anggur', 'mangga', 'kurma'],
 ['kurma', 'naga merah', 'kurma', 'alpokat', 'Jeruk'],
 ['Jeruk', 'jambu', 'pisang', 'pisang', 'sawo'],
 ['kurma', 'Jeruk', 'naga merah', 'kurma', 'alpokat'],
 ['pisang', 'alpokat', 'alpokat', 'kurma', 'kurma'],
 ['sawo', 'naga merah', 'Anggur', 'kurma', 'pisang'],
 ['jambu', 'alpokat', 'sawo', 'pir', 'alpokat'],
 ['Anggur', 'pir', 'pir', 'Jeruk', 'mangga'],
 ['kurma', 'kurma', 'kurma', 'Anggur', 'kurma'],
 ['mangga', 'Jeruk', 'jambu', 'Anggur', 'pisang'],
 ['kurma', 'alpokat', 'pir', 'pir', 'pir'],
 ['pisang', 'jambu', 'alpokat', 'kurma', 'naga merah'],
 ['mangga', 'Jeruk', 'naga merah', 'alpokat', 'Anggur'],
 ['Jeruk', 'mangga', 'Anggur', 'pisang', 'pisang'],
 ['kurma', 'mangga', 'kurma', 'naga merah', 'naga merah'],
 ['sawo', 'jambu', 'mangga', 'jambu', 'pir'],
 ['jambu', 'naga merah', 'Jeruk', 'kurma', 'jambu'],
 ['mangga', 'sawo', 'Jeruk', 'alpokat', 'Jeruk'],
 ['mangga', 'sawo', 'mangga', 'alpokat', 'sawo'],
 ['kurma', 'Anggur', 'Jeruk', 'sawo', 'sawo'],
 ['pir', 'Jeruk', 'Anggur', 'kurma', 'naga merah'],
 ['naga merah', 'naga merah', 'mangga', 'Anggur', 'naga merah'],
 ['kurma', 'pisang', 'jambu', 'Jeruk', 'naga merah'],
 ['naga merah', 'naga merah', 'sawo', 'mangga', 'mangga'],
 ['pisang', 'kurma', 'alpokat', 'kurma', 'mangga'],
 ['pir', 'jambu', 'sawo', 'mangga', 'Anggur'],
 ['Jeruk', 'kurma', 'jambu', 'jambu', 'pir'],
 ['mangga', 'pisang', 'sawo', 'alpokat', 'alpokat'],
 ['kurma', 'Anggur', 'alpokat', 'Jeruk', 'mangga'],
 ['pir', 'Anggur', 'pisang', 'mangga', 'jambu'],
 ['Jeruk', 'pir', 'mangga', 'naga merah', 'pisang'],
 ['jambu', 'kurma', 'jambu', 'jambu', 'jambu'],
 ['sawo', 'Anggur', 'pir', 'naga merah', 'Anggur'],
 ['jambu', 'mangga', 'pir', 'pisang', 'naga merah'],
 ['Anggur', 'alpokat', 'naga merah', 'mangga', 'kurma'],
 ['Anggur', 'sawo', 'Jeruk', 'pisang', 'kurma'],
 ['Jeruk', 'sawo', 'pir', 'pir', 'mangga'],
 ['kurma', 'Jeruk', 'mangga', 'pisang', 'mangga'],
 ['Jeruk', 'jambu', 'sawo', 'sawo', 'mangga'],
 ['jambu', 'sawo', 'alpokat', 'Anggur', 'Jeruk'],
 ['naga merah', 'kurma', 'jambu', 'pir', 'sawo'],
 ['pir', 'jambu', 'jambu', 'Jeruk', 'sawo'],
 ['mangga', 'pir', 'kurma', 'jambu', 'naga merah'],
 ['pir', 'Anggur', 'jambu', 'kurma', 'alpokat'],
 ['pisang', 'sawo', 'Anggur', 'mangga', 'kurma'],
 ['naga merah', 'pir', 'pisang', 'Anggur', 'jambu'],
 ['alpokat', 'pir', 'jambu', 'Jeruk', 'Jeruk'],
 ['pir', 'Anggur', 'jambu', 'Jeruk', 'kurma'],
 ['naga merah', 'pisang', 'mangga', 'alpokat', 'kurma'],
 ['sawo', 'Anggur', 'pisang', 'Anggur', 'sawo'],
 ['jambu', 'pir', 'mangga', 'sawo', 'pir'],
 ['alpokat', 'kurma', 'naga merah', 'alpokat', 'pir'],
 ['naga merah', 'naga merah', 'jambu', 'kurma', 'mangga'],
 ['alpokat', 'alpokat', 'kurma', 'pir', 'jambu'],
 ['pir', 'jambu', 'mangga', 'jambu', 'naga merah'],
 ['pir', 'sawo', 'Jeruk', 'mangga', 'pisang'],
 ['kurma', 'naga merah', 'alpokat', 'mangga', 'sawo'],
 ['Anggur', 'naga merah', 'pisang', 'naga merah', 'jambu'],
 ['sawo', 'kurma', 'Anggur', 'Jeruk', 'pisang'],
 ['kurma', 'Jeruk', 'pir', 'alpokat', 'jambu'],
 ['kurma', 'pir', 'Anggur', 'mangga', 'mangga'],
 ['alpokat', 'kurma', 'sawo', 'pir', 'pir'],
 ['pisang', 'Jeruk', 'alpokat', 'Anggur', 'naga merah'],
 ['Anggur', 'pir', 'pir', 'pir', 'Anggur'],
 ['naga merah', 'jambu', 'kurma', 'alpokat', 'alpokat'],
 ['Anggur', 'alpokat', 'jambu', 'Jeruk', 'naga merah'],
 ['pir', 'alpokat', 'pisang', 'Anggur', 'kurma'],
 ['pir', 'sawo', 'pir', 'alpokat', 'pisang'],
 ['Anggur', 'pir', 'sawo', 'mangga', 'Jeruk'],
 ['Jeruk', 'Jeruk', 'jambu', 'alpokat', 'Jeruk'],
 ['alpokat', 'kurma', 'Anggur', 'Anggur', 'sawo'],
 ['Anggur', 'alpokat', 'naga merah', 'pisang', 'jambu'],
 ['naga merah', 'naga merah', 'pisang', 'kurma', 'pisang'],
 ['sawo', 'pisang', 'jambu', 'mangga', 'mangga'],
 ['pir', 'Jeruk', 'naga merah', 'kurma', 'kurma'],
 ['Jeruk', 'mangga', 'Jeruk', 'pir', 'mangga'],
 ['jambu', 'sawo', 'naga merah', 'pisang', 'jambu'],
 ['pir', 'Anggur', 'kurma', 'sawo', 'pir'],
 ['jambu', 'sawo', 'Anggur', 'kurma', 'alpokat'],
 ['Anggur', 'kurma', 'jambu', 'kurma', 'kurma'],
 ['naga merah', 'kurma', 'naga merah', 'pisang', 'Jeruk'],
 ['Jeruk', 'mangga', 'pisang', 'alpokat', 'alpokat'],
 ['Jeruk', 'naga merah', 'naga merah', 'sawo', 'pisang'],
 ['pir', 'sawo', 'pisang', 'pir', 'Anggur'],
 ['jambu', 'kurma', 'Jeruk', 'alpokat', 'alpokat'],
 ['jambu', 'jambu', 'Anggur', 'jambu', 'naga merah'],
 ['Anggur', 'mangga', 'Jeruk', 'pisang', 'kurma'],
 ['sawo', 'mangga', 'Anggur', 'alpokat', 'naga merah'],
 ['kurma', 'Jeruk', 'pisang', 'alpokat', 'pir'],
 ['Jeruk', 'alpokat', 'naga merah', 'alpokat', 'kurma'],
 ['Anggur', 'Anggur', 'sawo', 'naga merah', 'pir'],
 ['naga merah', 'alpokat', 'jambu', 'naga merah', 'pisang'],
 ['pisang', 'jambu', 'naga merah', 'Jeruk', 'sawo'],
 ['sawo', 'pisang', 'jambu', 'pir', 'Anggur'],
 ['pir', 'pir', 'pisang', 'naga merah', 'pir'],
 ['kurma', 'mangga', 'naga merah', 'mangga', 'sawo'],
 ['kurma', 'kurma', 'naga merah', 'mangga', 'pir'],
 ['naga merah', 'jambu', 'Jeruk', 'mangga', 'mangga'],
 ['naga merah', 'mangga', 'Anggur', 'pisang', 'naga merah'],
 ['jambu', 'kurma', 'kurma', 'pisang', 'Anggur'],
 ['alpokat', 'mangga', 'pisang', 'jambu', 'sawo'],
 ['Anggur', 'naga merah', 'Jeruk', 'pir', 'alpokat'],
 ['naga merah', 'jambu', 'Jeruk', 'mangga', 'kurma'],
 ['jambu', 'jambu', 'naga merah', 'pisang', 'sawo'],
 ['alpokat', 'jambu', 'pir', 'mangga', 'Jeruk'],
 ['Anggur', 'naga merah', 'Anggur', 'pir', 'pir'],
 ['Anggur', 'pir', 'mangga', 'Anggur', 'Jeruk'],
 ['sawo', 'pir', 'Jeruk', 'pisang', 'Jeruk'],
 ['alpokat', 'pisang', 'naga merah', 'sawo', 'pisang'],
 ['sawo', 'mangga', 'jambu', 'alpokat', 'mangga'],
 ['mangga', 'Anggur', 'kurma', 'kurma', 'Jeruk'],
 ['sawo', 'sawo', 'naga merah', 'jambu', 'pir'],
 ['kurma', 'sawo', 'pir', 'alpokat', 'naga merah'],
 ['alpokat', 'jambu', 'kurma', 'naga merah', 'Jeruk'],
 ['pir', 'alpokat', 'alpokat', 'jambu', 'sawo'],
 ['jambu', 'mangga', 'mangga', 'sawo', 'pisang'],
 ['alpokat', 'pisang', 'pisang', 'pisang', 'mangga']]

In [28]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(records).transform(records)
df_transform = pd.DataFrame(te_ary, columns=te.columns_)
df_transform

,Anggur,Jeruk,alpokat,jambu,kurma,mangga,naga merah,pir,pisang,sawo
0,False,False,True,False,True,False,False,False,True,True
1,True,False,True,True,False,False,True,False,False,False
2,False,False,True,True,False,False,False,True,True,False
3,False,True,False,False,False,False,True,False,True,True
4,True,False,True,False,False,True,False,True,False,False
5,False,False,False,False,True,True,False,False,False,True
6,False,True,True,False,True,True,False,False,False,True
7,False,True,False,False,False,False,True,False,False,True
8,False,True,False,False,False,True,True,False,False,False
9,True,False,True,True,False,True,True,False,False,False
10,False,True,False,True,True,False,False,False,False,True
11,True,False,False,False,False,True,True,True,False,False
12,False,True,False,True,False,False,True,False,False,False
13,True,False,True,False,False,False,True,True,False,False
14,True,False,False,False,False,False,True,True,True,False
15,False,True,True,False,True,False,False,False,True,False
16,True,False,False,False,False,True,False,False,False,False
17,False,False,False,True,True,True,False,True,False,True
18,False,True,False,False,True,False,True,False,False,True
19,True,False,True,False,False,True,False,False,True,True
20,True,False,False,True,True,False,False,False,False,True
21,False,False,True,False,True,False,False,True,False,True
22,False,False,False,False,True,False,True,False,False,True
23,False,False,True,True,False,True,False,False,True,False
24,False,False,False,True,True,True,False,True,False,False
25,True,True,True,False,False,False,True,False,False,True
26,True,False,True,True,False,False,False,False,True,False
27,False,False,False,False,False,True,True,True,False,True
28,False,False,False,True,True,False,False,True,True,False
29,True,False,True,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...
169,True,False,True,False,False,True,True,False,False,True
170,False,True,True,False,True,False,False,True,True,False
171,False,True,True,False,True,False,True,False,False,False
172,True,False,False,False,False,False,True,True,False,True
173,False,False,True,True,False,False,True,False,True,False
174,False,True,False,True,False,False,True,False,True,True
175,True,False,False,True,False,False,False,True,True,True
176,False,False,False,False,False,False,True,True,True,False
177,False,False,False,False,True,True,True,False,False,True
178,False,False,False,False,True,True,True,True,False,False
179,False,True,False,True,False,True,True,False,False,False
180,True,False,False,False,False,True,True,False,True,False
181,True,False,False,True,True,False,False,False,True,False
182,False,False,True,True,False,True,False,False,True,True
183,True,True,True,False,False,False,True,True,False,False
184,False,True,False,True,True,True,True,False,False,False
185,False,False,False,True,False,False,True,False,True,True
186,False,True,True,True,False,True,False,True,False,False
187,True,False,False,False,False,False,True,True,False,False
188,True,True,False,False,False,True,False,True,False,False
189,False,True,False,False,False,False,False,True,True,True
190,False,False,True,False,False,False,True,False,True,True
191,False,False,True,True,False,True,False,False,False,True
192,True,True,False,False,True,True,False,False,False,False
193,False,False,False,True,False,False,True,True,False,True
194,False,False,True,False,True,False,True,True,False,True
195,False,True,True,True,True,False,True,False,False,False
196,False,False,True,True,False,False,False,True,False,True
197,False,False,False,True,False,True,False,False,True,True
198,False,False,True,False,False,True,False,False,True,False

In [29]:
df_transform.shape

(199, 10)

In [42]:
df_transform.dtypes

Anggur        bool
Jeruk         bool
alpokat       bool
jambu         bool
kurma         bool
mangga        bool
naga merah    bool
pir           bool
pisang        bool
sawo          bool
dtype: object

In [45]:
# Build up the frequent items# Build  
frequent_itemsets = apriori(df_transform, min_support=0.1, use_colnames=True)

In [46]:
frequent_itemsets.shape

(54, 2)

In [47]:
frequent_itemsets.to_csv('frequent_itemsets.csv', index=False)

In [49]:
frequent_itemsets

     support               itemsets
0   0.422111               (Anggur)
1   0.396985                (Jeruk)
2   0.402010              (alpokat)
3   0.437186                (jambu)
4   0.412060                (kurma)
5   0.391960               (mangga)
6   0.422111           (naga merah)
7   0.376884                  (pir)
8   0.417085               (pisang)
9   0.447236                 (sawo)
10  0.130653        (Jeruk, Anggur)
11  0.150754      (Anggur, alpokat)
12  0.150754        (Anggur, jambu)
13  0.145729        (kurma, Anggur)
14  0.150754       (Anggur, mangga)
15  0.165829   (Anggur, naga merah)
16  0.155779          (pir, Anggur)
17  0.190955       (pisang, Anggur)
18  0.160804         (Anggur, sawo)
19  0.150754       (Jeruk, alpokat)
20  0.155779         (Jeruk, jambu)
21  0.165829         (Jeruk, kurma)
22  0.135678        (Jeruk, mangga)
23  0.150754    (Jeruk, naga merah)
24  0.125628           (Jeruk, pir)
25  0.130653        (pisang, Jeruk)
26  0.155779          (Jeruk, sawo)
27  0.170854       (alpokat, jambu)
28  0.155779       (kurma, alpokat)
29  0.125628      (alpokat, mangga)
30  0.150754  (alpokat, naga merah)
31  0.130653         (pir, alpokat)
32  0.150754      (pisang, alpokat)
33  0.155779        (alpokat, sawo)
34  0.150754         (kurma, jambu)
35  0.130653        (mangga, jambu)
36  0.170854    (naga merah, jambu)
37  0.150754           (pir, jambu)
38  0.180905        (pisang, jambu)
39  0.170854          (sawo, jambu)
40  0.130653        (kurma, mangga)
41  0.140704    (kurma, naga merah)
42  0.125628           (kurma, pir)
43  0.130653        (pisang, kurma)
44  0.155779          (kurma, sawo)
45  0.130653   (mangga, naga merah)
46  0.130653          (pir, mangga)
47  0.155779       (pisang, mangga)
48  0.160804         (mangga, sawo)
49  0.125628      (pir, naga merah)
50  0.175879   (pisang, naga merah)
51  0.160804     (sawo, naga merah)
52  0.155779            (pir, sawo)
53  0.180905         (pisang, sawo)

In [50]:
# Create the rules# Create 
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(pisang),(Anggur),0.417085,0.422111,0.190955,0.457831,1.084624,0.014899,1.065885
1,(Anggur),(pisang),0.422111,0.417085,0.190955,0.452381,1.084624,0.014899,1.064453
2,(Jeruk),(kurma),0.396985,0.412060,0.165829,0.417722,1.013739,0.002247,1.009723
3,(kurma),(Jeruk),0.412060,0.396985,0.165829,0.402439,1.013739,0.002247,1.009127

In [51]:
rules.shape

(4, 9)

In [52]:
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(pisang),(Anggur),0.417085,0.422111,0.190955,0.457831,1.084624,0.014899,1.065885
1,(Anggur),(pisang),0.422111,0.417085,0.190955,0.452381,1.084624,0.014899,1.064453
2,(Jeruk),(kurma),0.396985,0.412060,0.165829,0.417722,1.013739,0.002247,1.009723
3,(kurma),(Jeruk),0.412060,0.396985,0.165829,0.402439,1.013739,0.002247,1.009127

In [54]:
rules.to_csv('rule.csv', index=False)